<!DOCTYPE html>
<html>
  <head>
    <title>RailsFirstApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%# View are the front-end part of the Rails app. The user interacts with the view part
      Embedded template files (.erb) hare HTML files with Ruby code embedded in them. %>
  </body>
</html>
